<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Wit for Wits</title>
    <link rel="stylesheet" href="static\styles\styles.css">
  </head>

  <nav class="top-nav">
    <ul>
        <li><a href="/">Main page</a></li>
        <li><a href="/add">Add page</a></li>
        <li><a href="/branches">Branches page</a></li>
        <li><a href="/checkout">Checkout page</a></li>
    </ul>
</nav>

  <body class="fail-image">
    <h1 class=first-headline >Add</h1>
    <h2 class=semi-head-line><div class="fail-text">STATUS:400 - BAD RQUEST<br>
    Request to add file failed!</div></h2>
    <div class="fail-text">File: "{{file_name}}"</div>
    <form action="/" method="POST">
      <P><div class="fail-text"></div><button class=stolen-pretty-button type="submit">return to homepage</button></div></P>
    </form>
  </body>
</html>