<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Wits for Wit</title>
    <link rel="stylesheet" href="static\styles\styles.css">
  </head>

  <body>
  <nav class="top-nav">
    <ul>
        <li><a href="/">Main page</a></li>
        <li><a href="/add">Add page</a></li>
        <li><a href="/branches">Branches page</a></li>
        <li><a href="/checkout">Checkout page</a></li>
    </ul>
    </nav>

    <h1 class=first-headline>Add</h1>
    <form method="POST">
    <label for="file_name">Enter file path to add:</label>
    <input name="file_name" class=kitty-input/>
    <button class=stolen-pretty-button type="submit">Add to staging area</button>
    </form>
  </body>
</html>